{% extends 'base.html' %}

{% block content %}
<h2 id='archive-title' class='page-title'>Archive</h2>
{% if posts %}
    
    {% for post in posts %}
        <article class='blog-post'>
            <span class='post-title'> {{ post.title }} </span> 
            <span class='post-date'>{{ post.post_date }}</span><br>
            <div class='post-body'>
                {{ post.body }}
            </div>
            <form class= 'archive-toggle' acion='/' method='POST'>
                <input type='hidden' name = 'post-id' value = '{{ post.id }}' />
                {% if post.active %}
                <input type='submit' value='Archive' />
                {% else %}
                <input type='submit' value='Unarchive' />
                {% endif %}
            </form>
        </article>
    {% endfor %}
{% else %}
    <p> There are no posts here. </p>
{% endif %}

{% endblock %}