<!DOCTYPE html> 
<html>
    <head>
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}" />
        <title> :: Welcome To My Blog ::   </title>
        <!--
            <script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>
            <script>tinymce.init({selector:'textarea'});</script>
        -->
    </head>
    <nav>
            <a href='/newpost'> New Post </a>
            | <a href='/archive'> Archive </a> 
            | <a href='/'> Home Page </a>
    </nav>
    <body>
        <h1> Build-A-Blog</h1><hr>
        {% with messages=get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class = 'flashes'> {{ message }} </p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        
        {% block content %}

        {% endblock %}



    </body>

</html>